<p id="notice"><%= notice %></p>

<h1>Listing Conversations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><strong><%= conversation.name %></strong></td>
        <td><%= link_to 'Show', conversation, class: 'button radius small' %></td>
        <td><%= link_to 'Edit', edit_artist_path(conversation), class: 'button radius small' %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete,
                                                 data: { confirm: 'Are you sure?' },
                                                 class: 'button radius small' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conversation', new_conversation_path %>
